body {
    padding-top: 50px;
    font-size: 16px;
    background: #f5f7f9;
}

h1 {
    text-align: center;
    font-size: 30px;
}
.starter-template {
    padding: 40px 15px;
}

input, button {
    margin: 5px 0;
}

input:hover, input:focus {
    outline: 0;
    transition: all .5s linear;
    box-shadow: inset 0 0 10px #ccc;
}

fieldset {
    margin-top: 100px;
}
legend {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}
a {
    cursor: pointer;
}

.provider {
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 4px;
    outline: none;
}
.facebook { background: #3B5998; }
.google { background: #D14836; }
.twitter { background: #00ACED; }
.yahoo { background: #731A8B; }
.xing { background: #006567; }
.vk { background: #567ca4; }

.social-providers,
.sign-in-now,
.already-member,
.not-a-member {
    text-align: center;
    margin-top: 20px;
}

.clef-button-wrapper {
    width: 190px!important;
    height: 34px!important;
    margin: 20px auto 0 auto!important;
}

.user {
    margin-top: 50px;
}
.user .data {
    margin-top: 10px;
}

.form-control {
    border-radius: 0;
}

[class^='ion-'] {
    font-size: 1.2em;
}

.has-feedback .form-control-feedback {
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    line-height: 46px;
    color: #555;
}

.has-feedback .form-control {
    padding-left: 42.5px;
}

.btn {
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.btn-lg {
    font-size: 18px;
}

meter {
    /* Reset the default appearance */
    -moz-appearance: none;
    appearance: none;

    margin: 0 auto 1em;
    width: 100%;
    height: .5em;

    /* Applicable only to Firefox */
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter[value="0"]::-webkit-meter-optimum-value,
meter[value="1"]::-webkit-meter-optimum-value { background: red; }
meter[value="2"]::-webkit-meter-optimum-value { background: orange; }
meter[value="3"]::-webkit-meter-optimum-value { background: yellow; }
meter[value="4"]::-webkit-meter-optimum-value { background: green; }

meter::-webkit-meter-even-less-good-value { background: red; }
meter::-webkit-meter-suboptimum-value { background: orange; }
meter::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar,
meter[value="1"]::-moz-meter-bar { background: red; }
meter[value="2"]::-moz-meter-bar { background: orange; }
meter[value="3"]::-moz-meter-bar { background: yellow; }
meter[value="4"]::-moz-meter-bar { background: green; }

meter::-webkit-meter-optimum-value {
    transition: width .4s ease-out;
}

.navbarStyle{
background-color: #00767c;
color: white;
background-image: -webkit-linear-gradient(top,#00767c 0,#00767c 100%);
    background-image: -o-linear-gradient(top,#00767c 0,#00767c 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#00767c),to(#00767c));
    background-image: linear-gradient(to bottom,#00767c 0,#00767c 100%);
}

.logoImg{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.topHeight{
padding: 5px; 15px;

}
.iframes{
width:100%;
height:100vh;
}
.homePage{
overflow:hidden
}
.terms_conditions{
position : relative;
top :-42px;
left:20px;
 }
.textAlignment{
text-align:center;
}
div.help-block.with-errors{
    height: 12px;
    margin-left: 19px;
    }
 p#password-strength-text   {
    height: 7px;
    margin-bottom: 22px;
    margin-top: -9px;
    }
    div.checkboxSignUp{
     height:35px;
     }

 .main-container{
     padding:15px;
     height: 100vh;
     overflow: auto;
 }

 .no-ethereum-section {
     text-align: center;
     font-family: 'Montserrat', sans-serif;
     font-weight: 500;
     color: #222228;
     font-size: 25px;
 }

 .img-header-logo {
     width: 220px;
     padding-bottom: 30px;
 }

 .img-ethereum-logo {
     width: 61px;
     padding-top: 30px;
     margin-bottom: 40px;
 }

  .p-not-found {
     opacity: 0.50;
     width: 925px;
     display: inline-block;
     margin-top: 50px;
     margin-bottom: 70px;
     letter-spacing: 0.6px;
 }

 .p-use-clients {
     display: inline-block;
     color: #546979;
 }

  .div-clients {
     height: 360px;
     display: flex;
     justify-content: center;
     font-size: 21px;
     color: #4F5362;
     margin-bottom: 50px;
     margin-top: 50px;
 }
  .div-metamask, .no-ethereum-section .div-mist {
     background-color: #FFFFFF;
     width: 340px;
     height: 360px;
     padding: 33px 10px 33px 27px;
     opacity: 0.89;
     border: 2px solid #EFF1F3;
     box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);
     border-radius: 4px;
     margin: 0 20px;
 }
  .div-metamask .img-logo, .no-ethereum-section .div-mist .img-logo {
     width: 85px;
 }
 .div-metamask .align-number, .no-ethereum-section .div-mist .align-number {
     display: table-cell;
     vertical-align: middle;
     padding-right: 20px;
 }
 .div-metamask .numberCircle, .no-ethereum-section .div-mist .numberCircle {
     display: inline-block;
     border-radius: 50%;
     height: 28px;
     width: 28px;
     line-height: 28px;
     border-radius: 50%;
     -moz-border-radius: 50%;
     text-align: center;
     border: solid 1px #CFD8DC;
     font-size: 18px;
     color: #222228;
     opacity: 0.68;
 }
  .div-metamask .span-montserrat-semi-bold, .no-ethereum-section .div-mist .span-montserrat-semi-bold {
     font-size: 21px;
     color: #4F5362;
 }
  .div-metamask .a-link, .no-ethereum-section .div-mist .a-link {
     color: #337ab7;
 }
 .div-metamask, .no-ethereum-section .div-mist {
     background-color: #FFFFFF;
     width: 340px;
     height: 360px;
     padding: 33px 10px 33px 27px;
     opacity: 0.89;
     border: 2px solid #EFF1F3;
     box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);
     border-radius: 4px;
     margin: 0 20px;
 }
  .p-connect-geth {
     opacity: 1;
     width: 925px;
     color: #4F5362;
     display: inline-block;
     letter-spacing: 0.6px;
 }
 .no-ethereum-section .div-metamask p, .no-ethereum-section .div-mist p {
     display: table;
     text-align: left;
     margin-bottom: 20px;
 }
.row-header {
    margin-bottom: 20px;
}
.networkstatus-section {
    display: flex;
    align-items: center;
}
a.logo {
    display: block;
    width: 103px;
    height: 37px;
    background-size: 103px 37px;
}
.ns-aux {
    transform: translate(30px, 25px);
}
.nplr {
    padding-left: 0px;
    padding-right: 0px;
}
.networkstatus-section .div-connected {
    margin-bottom: 10px;
}
.npr {
    padding-right: 0px;
}
.div-connected .network-type, .networkstatus-section .div-connected .question-circle {
    float: left;
}
 .div-connected .question-circle {
    transform: translate(0px, 2px);
}
.networkstatus-section p {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    color: #4F5362;
    margin: 0 0 5px;
    clear: both;
}
.green-circle {
    background-color: #1ABC9C;
}
.network-status {
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #4F5362;
    letter-spacing: 1.3px;
}
.div-connected {
    margin-bottom: 10px;
}
.nplr {
    padding-left: 0px;
    padding-right: 0px;
}
.account-section {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-align: right;
    padding-right: 15px;
}
 .select-change-allowance {
    border: 1px solid rgba(211, 213, 220, 0.68);
    border-radius: 100px;
    font-size: 10px;
    background-color: transparent;
    margin-left: 25px;
    display: inline-block;
    padding: 0px 17px 0px 10px;
    width: 330px;
}
.account-section .select-change-account {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    color: #222228;
    opacity: 0.68;
    border: none;
    margin-right: -18px;
    padding: 13px 33px 13px 17px;
    z-index: 1;
    position: relative;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}
.select-glyph {
    color: #D3D5DC;
    z-index: -1;
}
.account-section .link-contract-address {
    color: #D0D0D0;
    transform: translateX(-10px);
    padding: 13px 0px 13px 17px;
    display: inline-block;
    opacity: 0.68;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #D0D0D0;
}
.question-circle, .account-section .select-change-allowance .question-circle {
    border-radius: 50%;
    font-size: 9px;
    border: 0.8px solid #CFD8DC;
    background-color: #F8F7F5;
    text-align: center;
    width: 14px;
    height: 14px;
    color: #848FA5 !important;
    line-height: 12px;
    float: right;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: normal;
}