@()(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@import helper._
@import b3.inline.fieldConstructor

@moreScripts = {
<script src="@routes.Assets.versioned("javascripts/wallet/ethereumjs-wallet-0.6.0.min.js")"></script>
<script src="@routes.Assets.versioned("javascripts/wallet/ubunda-wallet-auth.js")"></script>
<script src="@routes.Assets.versioned("javascripts/wallet/lightWallet/lightwallet.js")"></script>
<script src="@routes.Assets.versioned("javascripts/wallet/backup_view.js")"></script>
<script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.fullPath("github-com-1000hz-bootstrap-validator","dist/validator.min.js"))"></script>
}
@moreStylesheets = {
<!--<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/wallet/wallet-landing.min.css")">-->
}
@walletMain(Messages("wallet"), false, moreStyleSheets = moreStylesheets, moreScripts = moreScripts)  {
<div class="wallet-inner-navigation">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="wallet-information">
                <h2>Wallet</h2>
                <h3>Back up account</h3></div>
        </div>
    </div>
</div>
<div class="backupView-main scrollableArea">
    <div class="backupView-start">
        <ul>
            <li>On the next screen you'll see a 12 word mnemonic phrase that corresponds to your new account.</li>
            <li>This is your account’s Backup Phrase.</li>
            <li>Later, you can enter this phrase into Ubunda (or other wallets) to re-gain control over your account.</li>
            <li>Make sure you are in a private place and not being watched.</li>
            <li>Write down the exact Backup Phrase and keep it in a secure location.</li>
            <li>Do not take a picture or screenshot, since that might be easily copied.</li>
            <li>Anyone with access to your Backup Phrase can gain access to your account's funds.</li>
            <li>If you fail to maintain a copy of this phrase or lose access to this wallet, you will permanently lose access to the funds in this account.</li>
        </ul>
    </div>
    <div class="backupView-generate">
        <div class="generate-section-content">
            <p>Backup Phrase</p>
        </div>
        <div class="generate-section-middle">
            <div class="row mnemonicLangage">
                <label class="col-lg-3 col-md-4 col-sm-4 col-xs-5">Display in:</label>
                <select id="mnemonicLanguageSlct" class="col-lg-3 col-md-4 col-sm-4 col-xs-7">
                    <option value="english">English</option>
                    <!-- <option value="japanese">Japanese</option>
                    <option value="spanish">Spanish</option>
                    <option value="chinese_simplified">Chinese (Simplified)</option>
                    <option value="chinese_traditional">Chinese (Traditional)</option>
                    <option value="french">French</option>
                    <option value="italian">Italian</option> -->
                </select>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="mnemonic-phrase-container">
                <p id="mnemonic-phrase" class="backup-phr-txt"></p>
                </div>
                <form class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="chkbSecure" value="on">
                            <!-- react-text: 537 -->I have copied and stored my backup phrase in a secure place.
                            <!-- /react-text -->
                        </label>
                    </div>
                </form>
            </div>
        </div>
        <div class="generate-section-bottom">
            <div class="container btnDefault-container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button id="btnNextGenerate" name="btnNxt" type="button" class="btn btnDefault goupButton setdefault">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="backupView-phrase">
        <div class="row ">
            <div class="col-xs-12">
                <h3>Confirm your back-up phrase</h3>
                <div class="row backupPhrase-section">
                    <div class="col-xs-12 backupPhrase-container"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 wordsList">
                <p id="errorMessage">Invalid phrase</p>
                <ul id="mnemonic-list"></ul>
            </div>
        </div>
    </div>
    <div class="backupView-confirm">
        <div class="row">
            <div class="col-xs-12">
                <div class="confirm-square"><i aria-hidden="true" class="fa fa-check-circle-o"></i></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="confirm-message">
                    <h3>Your account is backed up.</h3>
                    <p>If this app is deleted or you lose access to your account, your account can be recovered using the Backup Mnemonic Phrase you have just secured.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container btnDefault-container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <button id="btnNextStart" name="btnNxt" type="button" data-toggle="modal" class="btn btnDefault goupButton setdefault">Next</button>
                <!-- <button id="btnViewMenomicPhrase" name="btnNxt" type="button" class="btn btnDefault setdefault">View phrase</button> -->
            </div>
        </div>
    </div>

    @modalPopupKeyStoreFile(forms.UserForms.walletRegistrationForm.fill(forms.UserForms.WalletRegistrationData( alias = "", emailAddress
    = None, password = "" ))) @modalPopupNewAccount(forms.UserForms.walletRegistrationForm.fill(forms.UserForms.WalletRegistrationData(
    alias = "", emailAddress = None, password = "" )))

</div>
}