@()(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@import helper._
@import b3.inline.fieldConstructor

@moreScripts = {
<script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))"></script>
}

@moreStylesheets = {
<!--<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/wallet/wallet-landing.min.css")">-->
}

@walletMain(Messages("wallet"), false, moreStyleSheets = moreStylesheets, moreScripts = moreScripts)  {
<div>
    <div class="eula-main">
        <div class="col-xs-12 eula-topsection">
            <h3>Terms of Service and Privacy Policy</h3>
            <p>By clicking accept, you confirm that you have read and agreed to our privacy policy and terms of service</p>
        </div>
        <div class="eula-accordion-section">
            <div id="accordion" class="panel-group">
                <div id="panel1" class="col-xs-12 panel panel-default">
                    <div data-toggle="collapse" data-target="#collapseOne" class="panel-heading collapsed" aria-expanded="false">
                        <h4 class="panel-title">
                            <a>View terms of service</a>
                        </h4>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div id="collapseOne" class=" panel-collapse collapse" aria-expanded="true">
                        <div class="panel-body">Lorem ipsum dolor sit amet, quo cu omnium persecuti deterruisset, populo malorum feugait duo eu.
                            Te mel duis congue audiam, quod alia elitr eos cu. Mei at officiis vulputate intellegat, his
                            dicunt albucius quaerendum eu.Lorem ipsum dolor sit amet, quo cu omnium persecuti deterruisset,
                            populo malorum feugait duo eu. Te mel duis congue audiam, quod alia elitr eos cu. Mei at officiis
                            vulputate intellegat, his dicunt albucius quaerendum eu.</div>
                    </div>
                </div>
                <div id="panel2" class="col-xs-12 panel panel-default">
                    <div data-toggle="collapse" data-target="#collapseTwo" class="panel-heading collapsed" aria-expanded="false">
                        <h4 class="panel-title">
                            <a>View privacy policy</a>
                        </h4>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="true">
                        <div class="panel-body">Lorem ipsum dolor sit amet, quo cu omnium persecuti deterruisset, populo malorum feugait duo eu.
                            Te mel duis congue audiam, quod alia elitr eos cu. Mei at officiis vulputate intellegat, his
                            dicunt albucius quaerendum eu.Lorem ipsum dolor sit amet, quo cu omnium persecuti deterruisset,
                            populo malorum feugait duo eu. Te mel duis congue audiam, quod alia elitr eos cu. Mei at officiis
                            vulputate intellegat, his dicunt albucius quaerendum eu.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="eula-bottom-section">
            <div class="container btnDefault-container container-NoBorder">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a class="btn btnDefault" href="newaccount#/setupAccount" )>Accept</a>
                        <a class="btn btnDefault decline" href="@routes.ViewController.wallet()">Decline</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
}