@()(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@import helper._
@import b3.inline.fieldConstructor

@moreScripts = {
<script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))"></script>
}

@moreStylesheets = {
<!--<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/wallet/wallet-landing.min.css")">-->
}

@walletMain(Messages("wallet"), false, moreStyleSheets = moreStylesheets, moreScripts = moreScripts)  {
    <div class= "setup">
        <div class="row">
            <div class="col-lg-12">
                <h3>Setup 1 of 2</h3>
                <h4>Select method for approving send or back up commands</h4>
            </div>
            <div class="col-lg-12 radioChecks">
                <div class="form-check"><label><input type="radio" name="exampleRadios" id="exampleRadios1" value="option1" class="form-check-input"><span> Use device authorization (swipe, fingerprint, or PIN)</span></label></div>
                <div class="form-check">
                    <label><input type="radio" name="exampleRadios" id="exampleRadios2" value="option2" class="form-check-input"><span> Use application PIN</span></label>
                    <div class="setConfirm">
                        <div class="setConfirmItem"><label>Set:</label><input type="text" id="txtSet"></div>
                        <div class="setConfirmItem"><label>Confirm:</label><input type="text" id="txtSet2"></div>
                    </div>
                </div>
                <div class="form-check"><label><input type="radio" name="exampleRadios" id="exampleRadios3" value="option3" class="form-check-input"><span> Do not prompt for approval</span></label></div>
            </div>
            <div class="btnDefault-container">
                <a class= "btn btnDefault" href="@routes.ViewController.setUpView2()">Next</a>
            </div>
        </div>
    </div>
}