@(walletSignInForm: Form[forms.UserForms.WalletLoginData])(implicit request: RequestHeader, messages: Messages, webJarAssets: WebJarAssets)
@import com.mohiva.play.silhouette.impl.providers.oauth2.ClefProvider
@import b3.inline.fieldConstructor

@moreScripts = {
<script src="@routes.Assets.versioned("javascripts/wallet/landing_view.js")"></script>
<script src="@routes.WebJarAssets.at(webJarAssets.fullPath("github-com-1000hz-bootstrap-validator","dist/validator.min.js"))"></script>
<script type="text/javascript" src="@routes.WebJarAssets.at(webJarAssets.locate("bootstrap.min.js"))"></script>
}

@moreStylesheets = {
<!--<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/wallet/wallet-landing.min.css")">-->
}

@walletMain(Messages("wallet"), false, moreStyleSheets = moreStylesheets, moreScripts = moreScripts) {

<fieldset class="login-main">
    <div class="importAccount">
        <div class="row">
            <div class="col-lg-12">
                <h4 id="impAccHeader" class="login-heading">@Messages("log.in.credentials")</h4>
            </div>
        </div>
       @helper.form(action = controllers.api.v1.wallet.auth.routes.WalletAuthController.walletLogin(),Symbol("data-toggle")-> "validator") {
    @helper.CSRF.formField@helper.CSRF.formField
    <div class="starter-template row">
        @request.flash.get("error").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-danger">
            <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("error")</strong> @msg
        </div>
        }
        @request.flash.get("info").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-info">
            <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("info")</strong> @msg
        </div>
        }
        @request.flash.get("success").map { msg =>
        <div class="col-md-6 col-md-offset-3 alert alert-success">
            <a href="javascript:void(0)" class="close" data-dismiss="alert">&times;</a>
            <strong>@Messages("success")</strong> @msg
        </div>
        }
    </div>
    <div class="row">
        <div class="col-lg-12 account">
            <h4>Public address or email id:</h4>
            <div class="form-group  col-md-12 col-xs-12" id="defaultAlias_field">
                <input type="text"  class="col-md-12 col-xs-12" id="defaultAlias" name="walletIdentity" value="" required="true" data-error="default alias required!">
                <div class="help-block with-errors " style="font-size: 16px;"></div>
            </div>
            <h4>Unlocking password:</h4>
            <div class="form-group  col-md-12 col-xs-12" id="password_field">
                <input type="password" class="col-md-12 col-xs-12" id="password" name="password" value=""  required="true" data-error="valid unlocking password is required">
                <div class="help-block with-errors " style="font-size: 16px;"></div>
            </div>

        </div>
    </div>
    <div class="col-xs-12 col-md-12 info">
    @b3.checkbox(walletSignInForm("rememberMe"),'_text -> Messages("remember.me"), 'checked -> true)
    </div>
    <div class="form-group">
        <div class="container btnDefault-container info">
               <div class="not_signup">
                 <span>
                    @Messages("not.a.member")
                 </span>
                  <a href="@routes.ViewController.walletSignup" >@Messages("sign.up.now")</a>
               </div>
                  <button class="btn  btnDefault" type="submit" >@Messages("log.in")</button>
         </div>

    </div>

    }


    </div>
</fieldset>

}