@(webJarsUtil: org.webjars.play.WebJarsUtil)
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ubunda Wallet</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
            <!--LivelyGig Wallet Specific links and scripts-->

    </head>

    <body>
        <div id="root">
        </div>
        @addScripts(projectName = "wallet-client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
    </body>

</html>
