<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ubunda Wallet</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
            <!--LivelyGig Wallet Specific links and scripts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/wallet-app-main.min.css")">
        <link rel="stylesheet" media="screen" id = "theme-stylesheet" href="@routes.Assets.versioned("stylesheets/themes/wallet-main-theme-default.min.css")">
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.versioned("images/favicon.ico")">
        <link rel="manifest"  href="@routes.Assets.versioned("manifest.json")">
    </head>

    <body>
        <div id="root">
        </div>


        @Seq(s"wallet-client-opt-library.js", s"wallet-client-fastopt-library.js").find(asset => getClass.getResource(s"/public/$asset") != null).map(name => jsScript(routes.Assets.versioned(name).toString))
        <script language="JavaScript">
            var exports = window;
            exports.require = window["ScalaJSBundlerLibrary"].require;
        </script>
        @Seq(s"wallet-client-opt.js", s"wallet-client-fastopt.js").find(asset => getClass.getResource(s"/public/$asset") != null).map(name => jsScript(routes.Assets.versioned(name).toString))


    </body>

</html>
