@()(implicit config: play.api.Configuration,webJarAssets: WebJarAssets)
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ubunda Wallet</title>
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
            <!--LivelyGig Wallet Specific links and scripts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/wallet/wallet-app-main.min.css")">
        <link rel="stylesheet" media="screen" id = "theme-stylesheet" href="@routes.Assets.versioned("stylesheets/wallet/themes/wallet-main-theme-default.min.css")">
        <link rel="shortcut icon" type="image/ico" href="@routes.Assets.versioned("images/favicon.ico")">
    </head>

    <body>
        <div id="root">
        </div>
        @addScripts(projectName = "wallet-client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
    </body>

</html>
